<head>
    <style>
        * {
            font-family: "Open Sans", sans-serif;
            font-weight: lighter;
        }
        a {
            text-decoration: none;
            color: #4e4e4e;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<section>
    <form action="" method="post">
        <label>
            <h3>Add new list item:</h3>
            <input type="text" name="text">
        </label>
        <button>Add</button>
    </form>
    <a href="/">Back</a>

</section>