* {
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
}
a {
    text-decoration: none;
    color: #4e4e4e;

}
a:hover {
    text-decoration: underline;
}
form {
    display: flex;
    flex-direction: column;
}

