@import 'components/common/styles/main';

//
//html, {
//  display: flex;
//  flex-direction: column;
//  height: 100%;
//  overflow: overlay;
//  padding-right: $freeSpace;
//  body {
//    margin: 0;
//    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//    sans-serif;
//    -webkit-font-smoothing: antialiased;
//    -moz-osx-font-smoothing: grayscale;
//    display: inherit;
//    flex-direction: inherit;
//    position: relative;
//    flex: auto;
//    color: $blockColor;
//    background-color: lighten($greyColor, 6);
//
//    .wrapper {
//      display: inherit;
//      justify-content: center;
//      flex-direction: column;
//      flex-grow: 1;
//      min-height: 100%;
//    }
//  }
//
//}
//
//
//code {
//  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//  monospace;
//}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: $freeSpace;
  min-height: calc(100vh - 113px);

  .container {
    .content {
      flex: 3;
      //padding: 0 5px ;
      margin-right: $freeSpace;
      margin-bottom: $freeSpace;
      min-height: 100px;
    }

    /* Portrait tablets and small desktops */
    @media (min-width: 768px) and (max-width: 991px) {
      .content {
        flex: 1;
        margin: 0 5px 0 5px;
      }
    }
    /* Landscape phones and portrait tablets */
    @media (max-width: 767px) {
      .content {
        flex: 1;
        margin: 0 5px 0 5px;
      }
    }
  }

  @media (max-width: 991px) {
    .container {
      flex-direction: column-reverse;
    }
  }
}
