@import "./src/components/common/styles/main";

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: $freeSpace;

  .container {
    .content {
      flex: 3;
      margin-right: $freeSpace;
      margin-bottom: $freeSpace;
      //padding: $freeSpace;
      min-height: 100px;
      //border: 1px solid $greyColor;



    }



    /* Portrait tablets and small desktops */
    @media (min-width: 768px) and (max-width: 991px) {
      .content {
        flex: 1;
        margin-right: 0;
        margin-bottom: $freeSpace;
      }


    }

    /* Landscape phones and portrait tablets */
    @media (max-width: 767px) {
      .content {
        flex: 1;
        margin-right: 0;
        margin-bottom: $freeSpace;
      }
    }
  }

  @media (max-width: 991px) {
    .container {
      flex-direction: column-reverse;
    }
  }
}