

<footer class="footer">
    <div class="container">
        footer
    </div>
</footer>
<script src="javascript/scripts.js"></script>
<script src="javascript/jquery.min.js"></script>
</body>

</html>