
<header class="header">
    <div class="container">
        <a href="/" class="logo"></a>
        <nav class="menu">
            <a href="/">
                HELLO
            </a>
        </nav>
    </div>
</header>