<main class="main">
    <div class="container">
        <div class="content">
        {{#if renderPostsPage}}
            {{> post}}
        {{else}}
            {{> add}}
        {{/if}}
        </div>
        {{> sidebar}}
    </div>
</main>