
.error {
    display: flex;
    font-size: 0.8em;
    padding: $freeSpace - 5px;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.16);
    border: 1px solid rgba(255, 0, 0, 0.18);
    border-radius: 2px;
    text-align: center;
}

.success {
    background-color: rgba(199, 255, 116, 0.712);
    @extend .error
}

.post-added-message {
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    align-content: center;

    width: 50%;
    height: max-content;
    padding: $freeSpace+$freeSpace;
    margin: 0 auto;
    top: 40%;

    position: fixed;
    opacity: 0;
    z-index: 2;
    transition-duration: 0.5s;
    background: #20b5f25e;
    font-size: 2em;
    border-radius: 5px;
    border: 1px solid #ffffffb3;

    p {
        margin: 0;
    }

    & .error{

    }
    & .success {

    }
}

.active {
    opacity: 1!important;

}
