<div class="post add-post">
    <div class="top">
        <h2>Add Post:</h2>
    </div>
    <form action="">
        <div class="form-group">
            <label>
                <p>Post title:</p>
                <input autocomplete="false" id="post-title" type="text">
            </label>
        </div>
            <div class="post-body">
                <p>Post text:</p>
                <div id="post-medium-editor"></div>
            </div>
        <div class="buttons">
            <button class="button publish-button">Publish</button>
            <button class="secondary-inverse button save-button">Save</button>
        </div>

    </form>
</div>
