@import 'components/common/styles/main';
@import '~antd/dist/antd.css';

html, {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: overlay;
  padding-right: $freeSpace;
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inherit;
    flex-direction: inherit;
    position: relative;
    flex: auto;
    color: $blockColor;
    background-color: lighten($greyColor, 6);

    .wrapper {
      display: inherit;
      justify-content: center;
      flex-direction: column;
      flex-grow: 1;
      min-height: 100%;
    }
  }

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
