@import "../common/styles/main";



.sidebar {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;

  .box {

    @include hover-for-desktop;
    display: flex;
    flex-direction: column;
    margin-bottom: $freeSpace;
    padding: $freeSpace;
    width: 100%;
    min-height: 100px;
    border: 1px solid $borderColor;
    background-color: $whiteColor;
    border-radius: $borderRadius + 12px;
    box-shadow: $boxShadow;
    position: sticky;
    top: calc(#{$headerHeight} + #{$freeSpace});

    .auth_type {
      font-size: 24px;
      text-align: center;
      display: flex;
      margin: 0 0 24px 0;
      padding: 0 0 5px 0;
      /* padding-bottom: 15px; */
      border-bottom: 1px solid #e8e8e8;

    }
  }

  .first_box {
    z-index: 2;
    form.antForm {
      div {
        margin-bottom: 5px;
      }
      button {
        margin: 5px 0;
      }

    }
  }

  .second_box {
    z-index: 1;

  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .box {
      margin: 5px;
      @include disableHover;

    }
  }

}

@media (max-width: 767px) {
  .sidebar {
    display: flex;
    align-items: center;
    justify-content: center;

    .box {
      border: none;
      background-color: transparent;
      width: 60%;
      @include disableHover;

    }

    .second_box {
      display: none;
    }
  }
}
