@import "./src/components/common/styles/main";

.sidebar {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;

  .box {
    margin-bottom: $freeSpace;
    padding: $freeSpace;
    width: 100%;
    min-height: 100px;
    border: 1px solid $greyColor;
    background-color: $whiteColor;
    border-radius: $borderRadius;
    h2 {
      margin-top: 0;
    }
  }
  .first_box {
    position: sticky;
    top: calc(#{$headerHeight} + #{$freeSpace});
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .box {
      margin-right: $freeSpace;
    }
  }

}
@media (max-width: 767px) {
    .sidebar {
      display: flex;
      align-items: center;
      justify-content: center;

      .box {
        border: none;
        background-color: transparent;
        width: 60%;
      }
      .second_box {
        display: none;
      }
    }
}