@import "../../common/styles/main";


.post {

  border-radius: 15px;
  background: #fafafa;
  box-shadow: 0 2px 5px -2px #e8e8e8;
  padding: 20px;

  &_top {

    // h2.post_title
    &_title {
      font-weight: lighter;
      font-size: 36px;
      margin: $freeSpace*2 0;
    }
  }

  &_body {
    display: flex;
    flex-direction: column;
    overflow: visible;
    max-height: fit-content;


  }

  &_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &_author {

    }

    &_comments {

    }
  }

}

